In [5]:
import seaborn as sns
import numpy as np
import pandas as pd

In [53]:
results = {}
with open("benchmark.txt", 'r') as f:
    start_do_all = False
    for line in f.readlines():
        line = line.strip(" \n")
        if len(line) == 0:
            continue
        tup = line.split(": ")
        if len(tup) < 2:
            start_do_all = True
            continue
        name, array = tup
        if start_do_all:
            name = name + "_DO_ALL"
        array = array.split(',')
        for i in range(len(array)):
            array[i] = int(array[i])
        results[name] = array
print(results.keys())

dict_keys(['GO_ROUTINE_ONLINE_READ', 'GET_ONLINE_FEATURES_OPTIMIZED', 'GOROUTINE_GET_ONLINE_FEATURES', 'NO_GO_ROUTINE', 'GO_ROUTINE_GET_FEATURES_TO_USE', 'GET_ONLINE_FEATURES_OPTIMIZED_DO_ALL', 'GOROUTINE_GET_ONLINE_FEATURES_DO_ALL'])

In [54]:
len(results['GO_ROUTINE_ONLINE_READ'])

10000

In [55]:
keys = list(results.keys())
keys

['GO_ROUTINE_ONLINE_READ',
 'GET_ONLINE_FEATURES_OPTIMIZED',
 'GOROUTINE_GET_ONLINE_FEATURES',
 'NO_GO_ROUTINE',
 'GO_ROUTINE_GET_FEATURES_TO_USE',
 'GET_ONLINE_FEATURES_OPTIMIZED_DO_ALL',
 'GOROUTINE_GET_ONLINE_FEATURES_DO_ALL']

In [56]:
percentiles = {}
for k,v in results.items():
    arr = []
    for percent in [50, 90, 95, 99]:
        arr.append(np.percentile(v, percent))
    percentiles[k] = arr

In [57]:
indices = ['50%', '90%', '95%', '99%']
df = pd.DataFrame.from_dict(percentiles)
# df = df.reindex(indices)
df.index = indices
df

,GO_ROUTINE_ONLINE_READ,GET_ONLINE_FEATURES_OPTIMIZED,GOROUTINE_GET_ONLINE_FEATURES,NO_GO_ROUTINE,GO_ROUTINE_GET_FEATURES_TO_USE,GET_ONLINE_FEATURES_OPTIMIZED_DO_ALL,GOROUTINE_GET_ONLINE_FEATURES_DO_ALL
50%,896.00,1053.00,1082.00,1157.00,1180.00,1155.00,1002.00
90%,502100.50,1906.00,1935.00,2105.00,2146.00,2085.10,1834.10
95%,529735.70,2145.20,2155.15,2253.00,2439.10,2319.05,2069.05
99%,796925.16,4845.77,4739.33,3427.41,4266.04,4106.51,4572.29

In [58]:
num_keys = len(keys)
print(num_keys)
print(keys)
col1 = keys[:(num_keys//2)]
col2 = keys[(num_keys//2):]

7
['GO_ROUTINE_ONLINE_READ', 'GET_ONLINE_FEATURES_OPTIMIZED', 'GOROUTINE_GET_ONLINE_FEATURES', 'NO_GO_ROUTINE', 'GO_ROUTINE_GET_FEATURES_TO_USE', 'GET_ONLINE_FEATURES_OPTIMIZED_DO_ALL', 'GOROUTINE_GET_ONLINE_FEATURES_DO_ALL']

In [59]:
df[col1]

,GO_ROUTINE_ONLINE_READ,GET_ONLINE_FEATURES_OPTIMIZED,GOROUTINE_GET_ONLINE_FEATURES
50%,896.00,1053.00,1082.00
90%,502100.50,1906.00,1935.00
95%,529735.70,2145.20,2155.15
99%,796925.16,4845.77,4739.33

In [60]:
df[col2]

,NO_GO_ROUTINE,GO_ROUTINE_GET_FEATURES_TO_USE,GET_ONLINE_FEATURES_OPTIMIZED_DO_ALL,GOROUTINE_GET_ONLINE_FEATURES_DO_ALL
50%,1157.00,1180.00,1155.00,1002.00
90%,2105.00,2146.00,2085.10,1834.10
95%,2253.00,2439.10,2319.05,2069.05
99%,3427.41,4266.04,4106.51,4572.29